@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root {
    --off-black--: rgba(22, 23, 25, 1);
    --base-color--: rgba( 88, 79,119,1);
    --lightest-color--: rgba(155,149,173,1);
    --light-color--: rgba(117,109,143,1);
    --dark-color--: rgba( 65, 56, 95,1);
    --darkest-color--: rgba( 45, 34, 79,1);
}
  
body {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
}

h1 {
    font-weight: 300;
    color: var(--dark-color--);
}

#input-block {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    background-color: rgb(255, 255, 255, 0.9);
    border-radius: 16px;
    padding: 16px;
    z-index: 2;
}

.input-selectors {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
}

.input-selectors > p {
    color: var(--off-black--);
    font-size: 16px;
    font-family: inherit;
    font-weight: 300;
}

.input-item {
    color: var(--off-black--);
    font-size: 16px;
    font-family: inherit;
    font-weight: 300;
    padding: 12px 8px;
    border-radius: 8px; 
    cursor: pointer;
    border: 1px solid var(--base-color--);
}

#btn {
    margin-top: 56px;
    width: 100%;
    color: white;
    background-color: var(--light-color--);
}

#btn:hover {
    background-color: var(--base-color--);
}

#cog {
    position: relative;
    bottom: 200px;
    left: -220px;
    height: 180px;
}

.turn {
    animation-duration: 1s;
    animation-name: turn;
}

@keyframes turn {
    0%  {transform: rotate(0deg);}
    100% {transform: rotate(45deg);}
}

.unset {
    animation-duration: 0.1s;
    animation-name: reset;
}

@keyframes reset {
    0%  {transform: rotate(45deg);}
    1% {transform: rotate(0deg);}
    100% {transform: rotate(0deg);}
}