@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root {
    --off-black--: rgba(22, 23, 25, 1);
    --base-color--: rgba( 88, 79,119,1);
    --lightest-color--: rgba(155,149,173,1);
    --light-color--: rgba(117,109,143,1);
    --dark-color--: rgba( 65, 56, 95,1);
    --darkest-color--: rgba( 45, 34, 79,1);
}
  
body {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
}

h1 {
    margin: 0;
    width: 100%;
    font-weight: 400;
    color: white;
    background: linear-gradient(300deg, rgba(155,149,173,1) 0%, rgba(45,34,79,1) 94%);;
    padding: 48px 0px;
    text-align: center;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    width: 360px;
}

#input-block {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.9);
    z-index: 2;
}

.input-selectors {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
}

.input-selectors > p {
    color: var(--off-black--);
    font-size: 16px;
    font-family: inherit;
    font-weight: 300;
}

.input-item {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: var(--off-black--);
    font-size: 16px;
    font-family: inherit;
    font-weight: 300;
    padding: 12px 8px;
    border-radius: 8px; 
    cursor: pointer;
    border: 1px solid var(--base-color--);
}

#amount-field {
    width: 80%;
}

#btn {
    margin-top: 56px;
    width: 100%;
    color: white;
    background-color: var(--lightest-color--);
    border: none;
}

#btn:focus {
    outline: none;
}

#cog {
    fill: white;
    position: absolute;
    top: 8px;
    left: 8px;
    height: 45px;
}

.turn {
    animation-duration: 1s;
    animation-name: turn;
}

@keyframes turn {
    0%  {transform: rotate(0deg);}
    100% {transform: rotate(45deg);}
}

.unset {
    animation-duration: 0.1s;
    animation-name: reset;
}

@keyframes reset {
    0%  {transform: rotate(45deg);}
    1% {transform: rotate(0deg);}
    100% {transform: rotate(0deg);}
}

#output-block {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.9);
    padding: 16px 16px 32px 16px;
}

#output-block > p {
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(22, 23, 25, 1);
    margin: 0;
}

#output-block > h2 {
    color: var(--dark-color--);
    font-size: 32px;
    margin: 16px 0px;
}